{% extends "todo/base.html" %}

{% block title %}User Tasks{% endblock %}


{% block content %}
<div class="container">
    <h2>Tasks</h2>
    <div><a class="btn btn-primary" href="{% url 'task-add' %}" role="button">Add task</a></div>
    <table class="table">
	  <thead>
	    <tr>
	      <th scope="col">ID</th>
	      <th scope="col">Title</th>
	      <th scope="col">Location</th>
	      <th scope="col">Status</th>
        <th scope="col">User</th>
        <th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for task in object_list %}
	    <tr>
	      <th scope="row">{{task.id}}</th>
	      <td>{{task.title}}</td>
	      <td>{{task.location}}</td>
	      <td>{{task.status}}</td>
        <td>{{task.user}}</td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a><br/><a href="{% url 'task-delete' task.id %}">Delete</a></td>
	    </tr>
	    {% endfor %}
	  </tbody>
</table>
</div>
{% endblock %}